<div class="container">
<div class="create-article-page">
<div class="article-form">
<form action="" method="post">    
<h3>Add a post</h3><br>
<input type="text"placeholder="Post Title" name="title" required="" minlength="6" >
<label class="lblphoto" for="photo">Upload Image</label>
<input type="file"name="image" id="image">
<textarea name="post_content"rows="10" cols="50"placeholder="write your post.." required=""minlength="30"></textarea>
<button type="submit">PUBLISH</button>
</form>
</div>
</div>
</div>