<div class="container">
<div class="create-article-page">
<div class="article-form">
<h3>Register a User</h3> <br>
<div class="info-card">
 <form action="/admin/adduser" method="post">	
<input type="text" placeholder="Username" name="username"required="">
<input type="email" placeholder="Email" name="email" required="">
<input type="password" placeholder="password" name="password">	
<input type="password" placeholder="Confirm password" name="password2">						
<button type="submit" >Register</button>
</form>
</div>

</div>
</div>

</div>