
        <nav>
            <div class="hamburger">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
            </div>
      
            <div class="logo">
              <a href="/home"><img src="/assets/images/team.png"></a>
               </div>
       

            <ul class="nav-links">

               {{#if user}}
              <li> <a href="/admin/posts/addpost">New Article</a></li>
                <li><a href="/admin">Dashboard</a><li></li>
              <li><a href="/home/logout">Logout</a><li>
                 {{else}}
               <li> <a href="/home/register">Register</a></li>
               <li> <a href="/home/login">Login</a></li>
               {{/if}}

            </ul>
          </nav>
