
{{#if error}}
    <div class="msg-error">
        {{error}}
    </div>
{{/if}}


{{#if error_message}}
    <div class="msg-error">
        {{error_message}}
    </div>
{{/if}}


{{#if success_message}}
    <div class="msg-success">
        {{success_message}}
    </div>
{{/if}}

