<div class="shared-article-page">
<div class="shared-form">
    <h3>Shared Posts</h3> 

 {{#each posts}}
<div class="info-card">
     <img class="profile" src="./assets/images/adm.jpg"><br>
<a href="#"><h4>{{title}} &rarr;</h4></a><br>
<hr>
<p>{{body}}</p> 
<img src="/uploads/{{file}}">

<div class="more">
<h5 class="author">Written By Xavio <i class="date">{{generateDate date "MMMM Do YYYY"}}</i></h5>

  
</div>  
</div>
 {{/each}}



</div>

<div id="pagination" class="pagination">
<a href="#"><button class="btn"id="first">1</button></a>
<a href="#"><button class="btn">2</button></a>
<a href="#"> <button class="btn">3</button></a>
<a href="#"><button class="btn">4</button></a>
<a href="#"><button class="btn">5</button></a>
</div>

</div>