<div class="create-page">
<div class="create-form">
<h3>Enter your credentials to log in</h3><br>
<div class="info-card">
 <form action="/home/login" method="post">	

<input type="email" placeholder="Enter your Email" required=""name="email">
<input type="password" placeholder="Enter your Password"name="password">
<p>Not yet Registered? <a href="/home/register"> &nbsp;&nbsp;&nbsp;<u>Sign Up</u></a></p>
<br><br>
<button type="submit" >Login</button>
</form>

</div>
</div>
</div>