<div class="shared-article-page">
<div class="shared-form">


<div class="info-card">
     <img class="profile" src="/assets/images/adm.jpg"><br>
<h4>{{post.title}}</h4><br>
<hr>
<p>{{post.body}}</p> 
<img src="/uploads/{{post.file}}">

<div class="more">
<h5 class="author">Written By Xavio <i class="date">{{generateDate date "MMMM Do YYYY"}}</i></h5>

  
</div>  
</div>




</div>


</div>