
<div class="create-page">
<div class="create-form">
<h3>Create your own account</h3> <br>
<div class="info-card">
 <form action="/home/register" method="post">	
<input type="text" placeholder="Username" name="username"required="">
<input type="email" placeholder="Email" name="email" required="">
<input type="password" placeholder="password" name="password">	
<input type="password" placeholder="Confirm password" name="password2">						
<p>Already Registered?<a href="/home/login">&nbsp;&nbsp;&nbsp;<u>Login</u></a></p><br><br>

<button type="submit" >sign up</button>
</form>

</div>
</div>
</div>