<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Html,css and javascript Dashboard"/>
     <meta name="author" content="Xavio"/>
   <title>TEAMWORK</title>
    <link rel="icon" type="image/png" href="./images/favicon.png">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="css/card.css">
    <link rel="stylesheet" href="css/write-article.css">
    <link rel="stylesheet" href="css/updatepost.css">
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
        <header>
                <div class="logo">
                   <a href="../home"><img src="./images/team.png"></a>
                </div>

                <ul class="menu-ctn">
                 <li id="menu">
                <img src="./images/pi.jpg">
                      <ul  id="dropdown">
                      <li><a href="./profile.html">Xavio</a></li>
                      <li><a href="./profile.html">Profile</a></li>
                      <li><a href="../home/logout">Log Out</a></li>
                    </ul>
                  </li>
                </ul>
            
              </header>
                <div id="sidebar">
            
                  <nav>
                    <ul>
                <li><a href="/admin"><i class="fas fa-home"></i> Dashboard</a></li>

               <li><a href="/admin/all-posts"><i class="fas fa-address-card"></i> All Posts</a></li>

              <li><a href="/admin/my-posts"><i class="fas fa-address-card"></i> My Posts</a></li>
              <li><a href="/admin/addpost"><i class="fas fa-address-card"></i> Add post</a></li>

              <li><a href="comments.html"><i class="fas fa-project-diagram"></i> Comments</a></li>

              <li><a href="/admin/all-users"><i class="fas fa-blog"></i> All Users</a></li>

              <li><a href="adduser.html"><i class="fas fa-blog"></i> Add User</a></li>
              <li><a href="profile.html"><i class="fas fa-user"></i> Profile</a></li>    
                        
                    </ul>
                  </nav>
            
                  <div id="sidebar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>

                </div>