
        <header>
                <div class="logo">
                   <a href="/home"><img src="/assets/images/team.png"></a>
                </div>

                <ul class="menu-ctn">
                 <li id="menu">
                <img src="/assets/images/pi.jpg">
                      <ul  id="dropdown">
                      <li><a href="./profile.html">Xavio</a></li>
                      <li><a href="./profile.html">Profile</a></li>
                      <li><a href="../home/logout">Log Out</a></li>
                    </ul>
                  </li>
                </ul>
            
              </header>
                <div id="sidebar">
            
                  <nav>
                    <ul>
                <li><a href="/admin"><i class="fas fa-home"></i> Dashboard</a></li>

               <li><a href="/admin/posts/all-posts"><i class="fas fa-address-card"></i> All Posts</a></li>

              <li><a href="/admin/posts/my-posts"><i class="fas fa-address-card"></i> My Posts</a></li>
              <li><a href="/admin/posts/addpost"><i class="fas fa-address-card"></i> Add post</a></li>

              <li><a href="comments.html"><i class="fas fa-project-diagram"></i> Comments</a></li>

              <li><a href="/admin/users/all-users"><i class="fas fa-blog"></i> All Users</a></li>

              <li><a href="/admin/users/adduser"><i class="fas fa-blog"></i> Add User</a></li>
              
              <li><a href="profile.html"><i class="fas fa-user"></i> Profile</a></li>    
                        
                    </ul>
                  </nav>
            
                  <div id="sidebar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>

                </div>